<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>nybike</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <display-name>nybike</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>testdemo</display-name>
    <servlet-name>testdemo</servlet-name>
    <servlet-class>cn.tedu.nybike.web.testdemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testdemo</servlet-name>
    <url-pattern>/testdemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demo3</display-name>
    <servlet-name>demo3</servlet-name>
    <servlet-class>cn.tedu.nybike.web.demo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo3</servlet-name>
    <url-pattern>/demo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demo4</display-name>
    <servlet-name>demo4</servlet-name>
    <servlet-class>cn.tedu.nybike.web.demo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo4</servlet-name>
    <url-pattern>/demo4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripcountServlet</display-name>
    <servlet-name>TripcountServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.TripcountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripcountServlet</servlet-name>
    <url-pattern>/TripcountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>startServlet</display-name>
    <servlet-name>startServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.startServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>startServlet</servlet-name>
    <url-pattern>/startServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>endServlet</display-name>
    <servlet-name>endServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.endServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>endServlet</servlet-name>
    <url-pattern>/endServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>avgServlet</display-name>
    <servlet-name>avgServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.avgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>avgServlet</servlet-name>
    <url-pattern>/avgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ageServlet</display-name>
    <servlet-name>ageServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.ageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ageServlet</servlet-name>
    <url-pattern>/ageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>everyServlet</display-name>
    <servlet-name>everyServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.everyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>everyServlet</servlet-name>
    <url-pattern>/everyServlet</url-pattern>
  </servlet-mapping>
</web-app>